body {
    background-color: #ffffff;
    width: 540px;
    height: 842px;
    border: 2px solid black;
    margin: 0 auto;
}

html {
    font-size: 10px;
}

header {
    display: flex;
    /* border: 2px solid black; */
}

.photo {
    width: 100px;
    height: 130px;
}

.name_inform {
    width: 65%;
    line-height: 1.5rem;
    /* border: 2px solid black; */
}

.sub_name {
    color: #101214;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 1rem 2.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.sub_position {
    color: #101214;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 0.2rem;
    padding: 0 2.5rem;
}

.photo_inform {
    /* width: 35%; */
    text-align: left;
    margin-top: 2rem;
    margin-left: 1.5rem;
    /* padding-right: 2rem; */
    /* border: 2px solid black; */
}

section {
    display: flex;
    /* border-top: 2px solid red; */
    padding: 0 2.5rem;
    font-family: 'Arial';
    font-style: normal;
    margin-top: 3rem;
    font-size: 1.1rem;
}

.contact {
    /* border: 2px solid black; */
    width: 31%;
    padding: 0 0.3rem;
    margin-left: 3rem;
    color: #73808d;
    line-height: 1.5rem;
}

.experience {
    /* border: 2px solid black; */
    width: 65%;
    line-height: 1.5rem;
}

.xp {
    color: rgb(106, 110, 110);
}

section p {
    margin: 0.4rem 0px;
}

.xp_speciality {
    font-size: 1.2rem;
    font-weight: 600;
    /* margin-bottom: 0.1rem; */
}

.knowledge {
    list-style: none;
    padding: 0;
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}